@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(213, 234, 200);
}
.containerr{
    background-color: rgb(220, 242, 214);
    color: rgb(26, 24, 24);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    margin-left: 30%;
    
}
.container > p{
    font-size: 32px;
}
    .question{
        width: 90%;
        padding-left: 7%;
        
}
.options{
    position: relative;
    padding-left: 40px;
    margin-left: 50px;
    color: #0b6b4c;
}
.answer{
    padding-left: 50px;
}
#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 40px;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(246, 244, 244);
    border: 1px solid rgb(75, 128, 51);
    border-radius: 50%;
    
}
.checkmark1 {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(246, 244, 244);
    border: 1px solid rgb(75, 128, 51);
    border-radius: 50%;
}
.checkmark2 {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(246, 244, 244);
    border: 1px solid rgb(75, 128, 51);
    border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
    display: block;
}
    .options input:checked ~ .checkmark1:after {
        display: block;
}
    .options input:checked ~ .checkmark2:after {
        display: block;
    
}
.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options .checkmark1:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options .checkmark2:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: rgb(20, 87, 45);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark1{
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark2{
    background: rgb(210, 91, 80);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.options input[type="radio"]:checked ~ .checkmark1:after{
    transform: translate(-50%,-50%) scale(1);
}
.options input[type="radio"]:checked ~ .checkmark2:after{
    transform: translate(-50%,-50%) scale(1);
}
.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}
.Previous{
    margin-left: 40px;
}


.Next1{
    margin-left: 430px;
}

